div {
  display: flex;
  margin-top: 25%;
  font-size: 4rem;
  color: blue;
  font-family: "Kdam Thmor Pro", sans-serif;
}
#regularClock {
  margin: 0 auto;
}
#military {
  color: white;
  background-color: gray;
  cursor: pointer;
  font-family: "Kdam Thmor Pro", sans-serif;
  width: 10rem;
  text-align: center;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
}
.hidden {
  visibility: hidden;
}
@media (min-width: 768px) {
  div {
    font-size: 5rem;
  }
}
